<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name=" Automation Frontend Suite" verbose="4"
       thread-count="4" parallel="tests">


    <listeners>
        <listener class-name="com.qa.listeners.AnnotationTransformer"/>
    </listeners>


    <test name="Login Page Test">
        <classes>
            <class name="com.qa.tests.HrdLogintests"/>
        </classes>
    </test>

</suite>